<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="ClientMessageDB"
         connectionString="Server=(localdb)\mssqllocaldb;Database=ClientMessageDB;Trusted_Connection=True;" />
  </connectionStrings>
  <appSettings>
    <add key="ServerPostUrl" value="https://localhost:44370/api/InMessages"/>
    <add key="RepeatTimeout" value="10000"/>
  </appSettings>
</configuration>